{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}
    {% include 'candidate/register/common/header.twig' %}
    <div class="roles">
        <div class="role">
          <h3>You did it.</h3>
            <p>You've registered on our site and you're now in our database. Now search our site for any roles that interest you!</p>
        </div>
    </div>

    <div class="form-row" >
        <a class="btn btn-success btn-large" href="/jobs"> FIND JOBS </a>
    </div>
    {% include 'candidate/register/common/footer.twig' %}

{% endblock %}