{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}
{% include 'candidate/register/common/header.twig' %}
    <div class="form-row">
        <label for="phone">Phone Number</label>
        <input type="text" id="phone" name="phone" placeholder="Phone number" value="{{ old('phone', session_get('register_contact.phone')) }}">
    </div>

    <div class="form-row">
        <label for="postcode">Postcode</label>
        <input type="text" id="postcode" name="postcode" placeholder="e.g. BS8 7HB" value="{{ old('postcode', session_get('register_contact.postcode')) }}">
        <button id="postcode-lookup" class="btn btn-default">Lookup</button>

        <p><a href="javascript:;" id="show-address-fields">My address isn't here</a></p>
    </div>

    <div class="form-row address-row" style="display:none">
       <label for="address-selector">Address</label>
       <select class="address-selector" id="address-list">
           <option value="">-- Please click to select your address --</option>
       </select>
    </div>

    <div class="address-info">
        <div class="form-row">
            <label for="address_line_1">Address Line 1</label>
            <input type="text" id="ipt1" name="address_line_1" class="address_line_1"  value="{{ old('address_line_1', session_get('register_contact.address_line_1')) }}">
        </div>

        <div class="form-row">
            <label for="address_line_2">Address Line 2</label>
            <input type="text" id="address_line_2" name="address_line_2" class="address_line_2"  value="{{ old('address_line_2', session_get('register_contact.address_line_2')) }}">
        </div>

        <div class="form-row">
            <label for="address_line_3">Address Line 3</label>
            <input type="text" id="address_line_3" name="address_line_3" class="address_line_3"  value="{{ old('address_line_3', session_get('register_contact.address_line_3')) }}">
        </div>
        <div class="form-row">
            <label for="town">Town</label>
            <input type="text" id="town" name="town" class="town"  value="{{ old('town', session_get('register_contact.town')) }}">
        </div>
        <div class="form-row">
            <label for="county">County</label>
            <input type="text" id="county" name="county" class="county"  value="{{ old('county', session_get('register_contact.county')) }}">
        </div>
    </div>

    <div class="form-row"  style="text-align:right">
        <input type="submit" name="submit" class="btn btn-default" value="Next &raquo;" />
    </div>

    {% include 'candidate/register/common/footer.twig' %}
{% endblock %}