{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}


{% include 'candidate/register/common/header.twig' %}
    {% if session_has('success') %}
        <div class="alert alert-success">
            {{ session_get('success') }}
        </div>
    {% endif %}




    <div class="form-row">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" value="{{ old('first_name', session_get('register_index.first_name')) }}">
    </div>

    <div class="form-row">
        <label for="ipt1">Last Name</label>
        <input type="text" id="ipt1" name="last_name" value="{{ old('first_name', session_get('register_index.last_name')) }}">
    </div>

    <div class="form-row">
        <label for="email">Email address</label>
        <input type="email" id="email" name="email" placeholder="Enter email" value="{{ old('first_name', session_get('register_index.email')) }}">
    </div>

    <div class="form-row">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">

        <div class="form-helper">Please use at least one special character.</div>
    </div>



    <div class="form-row"  style="text-align:right">
        <input type="submit" name="submit" class="btn btn-success" value="Next &raquo;" />
    </div>
{% include 'candidate/register/common/footer.twig' %}
{% endblock %}