{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}
    {% include 'candidate/register/common/header.twig' %}
    <p>Please fill in your education.</p>
    <div class="roles">
        <div class="role">
            <h4>Education</h4>
            <div class="form-row">
                <label for="ipt1">College/School/University</label>
                <input type="text" id="ipt1" name="education[0][name]" placeholder="e.g. Cambridge" >
            </div>
            <div class="form-row">
                <label for="ipt1">Qualification</label>
                <input type="text" id="ipt1" name="education[0][title]" >
            </div>


            <div class="form-row">
                <label for="ipt1">Date from</label>
                <input type="date" id="ipt1" name="education[0][date_from]" >
            </div>
            <div class="form-row">
                <label for="ipt1">Date to</label>
                <input type="date" id="ipt1" name="education[0][date_to]"  >
            </div>

            <div class="form-row">
                <label for="ipt1">Summary</label>
                <textarea name="education[0][description]"></textarea>
            </div>
            <button class="add-role btn btn-sm btn-primary"><i class="fa fa-plus"></i> add another</button>

        </div>
    </div>

    <div class="form-row">
        <input type="submit" name="submit" class="btn btn-success" value="Submit" />
    </div>

    {% include 'candidate/register/common/footer.twig' %}
{% endblock %}