{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}


{% include 'candidate/register/common/header.twig' %}
    {% if session_has('success') %}
        <div class="alert alert-success">
            {{ session_get('success') }}
        </div>
    {% endif %}


    {% if session_has('error_cv') %}
        <div class="alert alert-danger">
            <p>{{ session_get('error_cv') }}</p>
        </div>
    {% else %}
        <div class="alert alert-info">
            <p>Please upload your CV</p>
        </div>

    {% endif %}

    <div class="form-row">
        <button class="select-cv btn btn-info"><i class="fa fa-plus"></i> upload CV</button> {% if session_has('cv_name') %} <span class="cv-info">{{ session_get('cv_name') }}</span> {% endif %}
        <span class="loading-bar" style="display:none"><img src="{{ Theme.get() }}/img/download.gif" style="width:20px;height:20px;" /></span>

        {#<input type="filepicker" data-fp-apikey="AhTgLagciQByzXpFGRI0Az" data-fp-mimetypes="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" data-fp-container="modal" data-fp-services="BOX,CLOUDDRIVE,COMPUTER,DROPBOX,GOOGLE_DRIVE,SKYDRIVE" onchange="alert(event.fpfile.url)">#}
    </div>

    <div class="form-row"  style="text-align:right">
        <input type="submit" name="submit" class="btn btn-success" value="Next &raquo;" />
    </div>
{% include 'candidate/register/common/footer.twig' %}
{% endblock %}