{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}
    {% include 'candidate/register/common/header.twig' %}
        <p>Please answer the following questions.</p>
        <div class="roles">
            <div class="role">
                <h4>Questions</h4>
                <p>Please complete the questions below. These help us understand some key information about yourself.</p>
                <div class="form-row">
                    <label for="ipt1">Visa/Passport</label>
                    {{ form_select('question[has_uk_visa]', {'':'-- Please select -- ',0: 'No', 1: 'Yes'}, '') }}
                </div>

                {#<div class="form-row">#}
                    {#<label for="ipt1">Driving License</label>#}
                    {#{{ form_select('question[has_driving_license]', {0: 'No', 1: 'Yes'}) }}#}
                {#</div>#}

                {#<div class="form-row">#}
                    {#<label for="ipt1">Willing to relocate?</label>#}
                    {#{{ form_select('question[will_relocate]', {0: 'No', 1: 'Yes'}) }}#}
                {#</div>#}

                {#<div class="form-row">#}
                    {#<label for="ipt1">Sector</label>#}
                    {#{{ form_select('question[sector_id]', sectors) }}#}
                {#</div>#}

                <div class="form-row">
                    <label for="ipt1">Contract Type</label>
                    {{ form_select('question[contract_types]', contract_types, '1') }}
                </div>

                <div class="form-row">
                    <label for="ipt1">Salary Sought</label>
                    {{ form_select('question[salary_band_id]', salary_bands) }}
                </div>

                <div class="form-row">
                    <label for="ipt1">Notice Period</label>
                    {{ form_text('question[notice_period]') }}
                </div>

            </div>
        </div>

        <div class="form-row" style="text-align:right">
            <input type="submit" name="submit" class="btn btn-success" value="Next &raquo;" />
        </div>
    {% include 'candidate/register/common/footer.twig' %}
{% endblock %}