{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}
    {% include 'candidate/register/common/header.twig' %}
    <p>Please fill in your previous roles.</p>
    <div class="roles">

        <div class="form-row"  style="text-align:right">
            <input type="submit" name="submit" class="btn btn-success" value="Next &raquo;" />
        </div>


            <h3>Roles</h3>
            <hr />
            {% for role in roles %}
        <div class="role">
                <h4>{{ role.title }}</h4>
                <div class="form-row">
                    <label for="company">Company</label>
                    <input type="text" id="company" name="role[{{ loop.index }}][name]" placeholder="e.g. Google" value="{{ role.name }}">
                </div>
                <div class="form-row">
                    <label for="job_title">Job Title</label>
                    <input type="text" id="job_title" name="role[{{ loop.index }}][title]" placeholder="e.g. Account Manager" value="{{ role.title }}" >
                </div>

                <div class="form-row">
                    <label for="date_from">Date from</label>
                    <input type="text" id="date_to" class="yearmonth-picker" name="role[{{ loop.index }}][date_from]" value="{{ role.date_from }}" placeholder="YYYY-MM">
                </div>
                <div class="form-row">
                    <label for="date_to">Date to</label>
                    <input type="text" id="date_to" class="yearmonth-picker" name="role[{{ loop.index }}][date_to]"  value="{{ role.date_to }}" placeholder="YYYY-MM">
                </div>
                <div class="form-row">
                    <label for="current_role">Is this your current role?</label>
                    <input type="checkbox" name="role[{{ loop.index }}][is_current]" style="display:block" value="1" {% if role.is_current == 1 %}checked="checked" {% endif %} />
                </div>

                <div class="form-row">
                    <label for="description">Description</label>
                    <textarea name="role[{{ loop.index }}][description]" id="description" rows="5">{{ role.description }}</textarea>
                </div>


                <hr />
            <button class="add-role btn btn-sm btn-primary"><i class="fa fa-plus"></i> add another</button>
            <button class="remove-role btn btn-sm btn-danger"><i class="fa fa-minus"></i> remove</button>


        </div>
            {% endfor %}
    </div>


    <div class="form-row"  style="text-align:right">
        <input type="submit" name="submit" class="btn btn-success" value="Next &raquo;" />
    </div>

{% include 'candidate/register/common/footer.twig' %}

{% endblock %}