{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}

    <div class="content">
        <div class="esc">

            {% filter content('page.about-us-main') %}
            {% if Theme.get() == 'nixon' %}
                <h1>About Nixon Williams</h1>
                <p>Here at Nixon Williams we pride ourselves on being one of the leading UK Contractor Accountants. Nixon Williams stands apart from others because we never give up on our drive to be outstanding, distinctive in character and uncompromisingly committed to our values – excellence in everything we do, outstanding teamwork and delivering high levels of customer satisfaction. About half of our sales come from customer recommendations.

                </p>
                <img class="img-responsive pull-right" src="/{{ Theme.get() }}/img/aboutus.jpg" alt="About Us">
                <p>We provide an excellent working environment and are dedicated to developing our people and growing their careers, alongside our own success. We are devoted to helping our people to explore their potential; we prefer to promote people from within our business instead of sourcing outside talent and so you can be assured of a great career with us. We know it’s our people that make us the best in our industry.

                </p>
                <p>Not only will you operate as part of a dynamic and supportive team, but you are encouraged to build strong, lasting relationships with your clients. We’ve done away with micro-management and leave you free to conduct your business in the way that you know is best for your clients.


                </p>

                <p>We want you to feel proud to work with us. We are constantly striving to create a fun and accommodating work environment where your opinion matters and you can carve out a fulfilling and exciting career.


                </p>


                <h3>What difference will you make?</h3>
                <p>At Nixon Williams, we have over 4,500 clients - that’s 4,500 people, with 4,500 futures.</p>
                <p>You will be the reason these futures are in safe hands.
                </p>
    <p>You will be helping the workforce of the future.
    </p>




                <h3>Mission statement</h3>
                <p>To provide an innovative, reliable one-stop shop to professional contractors who want an easy way to manage their business and processes.

                </p>

                {#<h3>Benefits Include:</h3>#}
                {#<ul>#}
                    {#<li>Defined contribution pension</li>#}
                    {#<li>Additional 3-days Christmas closedown leave</li>#}
                    {#<li>Service based annual leave increases</li>#}
                    {#<li>Supported Professional study </li>#}
                {#</ul>#}

                {#<p>Our training support offers a ‘one stop shop’ for all Learning & Development needs for our people with a focus on developing and supporting our managers through programmes such as the Management/Leadership Development Programme.  Additional programmes include; Skills Deployment Inventory (SDI) relationship awareness/team development, Performance, Recruitment & Selection.</p>#}

                {#<ul>#}
                    {#<li>Support - So you never have to look elsewhere - PAY & REWARD</li>#}
                    {#<li>Educate - Guide and support you from A-Z - CAREER PROGRESSION</li>#}
                    {#<li>Liberate - Feeling you to get your job done - COMMUNICATION</li>#}
                {#</ul>#}

            {% else %}
                <h1>About SJD Accountancy</h1>
                <p>We’re a multi-award winning provider of Limited Company accountancy services. We’ve been serving contractors, freelancers and small to medium sized businesses since 1992, and now boast over 15,000 clients. This makes us the largest company in our field.

                </p>
                <p>If you're looking to start a career in accountancy, at SJD, we support training in AAT (Association of Accounting Technicians) and ATT (Association of Tax Technicians).

                </p>
                <p>With us, you could start your career in an administrative support function and develop into a Senior Accountant specialising in Tax and VAT. That’s because we offer a defined career path, with study support and training to ensure you reach your potential and fulfil your ambitions. It’s one of the reasons we’ve won so many awards, including the ‘Sunday Times Best Small Companies to Work for’.


                </p>
                <p>As well as enjoying a progressive career, you’ll get to work in a fun and supportive environment within our bright, modern and newly built offices just outside of London, in the heart of Hemel Hempstead.

                </p>

                <h3>Your future with us</h3>
                <p>Being part of SJD Accountancy means we can be ambitious. Our vision is to be THE recognised and trusted workforce solutions partner for professional contractors. We will:

                </p>

                <ul>
                    <li>be the first fully comprehensive flexible workforce solutions provider	</li>
                    <li>have unrivalled market reach and 	the largest customer base
                    </li>
                    <li>create the “best in class” customer facing portal and technology platform
                    </li>
                    <li>provide an unrivalled suite of services for professional contractors so our operating brands can collectively be the best in the UK

                    </li>

                </ul>
                <p>If that sounds like a journey you would like to be a part of, then view our <a href="/jobs">vacancies</a> to get started.
                </p>


                <h3>Our mission statement</h3>
                <p>To provide an innovative, reliable, one-stop shop to professional contractors who want an easy way to manage their business and processes.</p>
            {% endif %}

            {% endfilter %}
        </div>
    </div>

{% endblock %}