{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}

    {% if Theme.get() == 'nixon' %}
    <style>
        .icon-item {
            min-height:200px;
            padding-top:25px;
            overflow:hidden;
            width:32%;
            margin-right:1%;
            float:left;
            text-align:center;
            color:#599834;
            background:#1a1e22;
        }

        .icon-item .description {
            float:left;
            width:100%;
            margin-top:10px;
        }
        .icon-item .icon {

        }

        .icon-wrapper {
            width:100%;
            clear:both;
            overflow: hidden;
            margin-top:40px;
            margin-bottom:40px;
        }

    </style>
    {% else %}

        <style>
            .icon-item {
                min-height:200px;
                padding-top:25px;
                overflow:hidden;
                width:32%;
                margin-right:1%;
                float:left;
                text-align:center;
                color:#f89827;
                background:#1a1e22;
            }

            .icon-item .description {
                float:left;
                width:100%;
                margin-top:10px;
            }
            .icon-item .icon {

            }

            .icon-wrapper {
                width:100%;
                clear:both;
                overflow: hidden;
                margin-top:40px;
                margin-bottom:40px;
            }

        </style>
    {% endif %}

    <div class="content">
        <div class="esc">
            {% filter content('page.candidates-heading') %}
                <h1>Candidates</h1>
            {% endfilter %}
        </div>

        <div class="esc">

            {% filter content('page.candidates-main') %}
            {% if Theme.get() == 'nixon' %}
                <p>We value our people and the service they provide to our clients. We operate a professional company whist keeping it personal and friendly.
                    If you would like to work in a friendly and supportive environment with good career progression, then Nixon Williams is the company for you.

                </p>

                <p>Our core values backed up by good internal communications and open honest management are:
                </p>


                <div class="icon-wrapper">

                    <div class="icon-item">
                        <div class="icon"><i class="fa fa-thumbs-up  fa-5x"></i></div>
                        <div class="description">
                            <strong>Support</strong>
                            <p>You'll never have to look elsewhere</p>
                        </div>
                    </div>

                    <div class="icon-item">
                        <div class="icon"><i class="fa fa-graduation-cap fa-5x"></i></div>
                        <div class="description">
                            <strong>Educate</strong>
                            <p>We'll guide and support you from A-Z</p>
                        </div>
                    </div>



                    <div class="icon-item">
                        <div class="icon"><i class="fa fa-check-square-o  fa-5x"></i></div>
                        <div class="description">
                            <strong>Liberate</strong>
                            <p>Freeing you to get your job done</p>
                        </div>
                    </div>
                </div>


                <p>Training and career progression is at the heart of our company and we offer a mix of on-the-job training, coaching and mentoring. Our training curriculum includes – management and leadership development, skills deployment, and team development.
                </p>
                <h3>We offer a flexible benefits package which includes:
                </h3>
                <ul>
                    <li>Defined contribution pension;
                    </li>
                    <li>Loyalty award - annual leave increases with length of service; and</li>
                    <li>Supported professional study.</li>
                </ul>


                <h3>Our People</h3>

                <div class="candidates">

                    <div class="candidate">
                        <div class="pic-container" style="background-image:url(/{{ Theme.get() }}/img/candidates/IMG_0935.JPG);">
                            <div class="content">
                                <div class="text">
                                    <h4>Lucy Rudd</h4>
                                    <cite>Account Controller</cite>
                                </div>
                            </div>
                        </div>
                        <div class="meta">
                            <p>I like working for Nixon Williams because I feel fully supported in relation to training and qualifications and I have great working relationships with my colleagues.</p>
                        </div>
                    </div>


                    <div class="candidate">
                        <div class="pic-container" style="background-image:url(/{{ Theme.get() }}/img/candidates/IMG_0943.JPG);">
                            <div class="content">
                                <div class="text">
                                    <h4>Stephen Chapman</h4>
                                    <cite>Team Manager</cite>
                                </div>
                            </div>
                        </div>
                        <div class="meta">
                            <p>The team environment makes working at Nixon Williams a pleasure.</p>
                        </div>
                    </div>


                    <div class="candidate">
                        <div class="pic-container" style="background-image:url(/{{ Theme.get() }}/img/candidates/IMG_0940.JPG);">
                            <div class="content">
                                <div class="text">
                                    <h4>Katie Wild</h4>
                                    <cite>Account Controller</cite>
                                </div>
                            </div>
                        </div>
                        <div class="meta">
                            <p>I like working for Nixon Williams because it enables me to provide an all-inclusive service to my clients, which you wouldn’t see in your normal high street accountants. I especially enjoy preparing annual accounts and tax returns and also helping them with tax planning. Working as part of a team and a large reputable company is also a big plus!</p>
                        </div>
                    </div>


                </div>
            {% else %}

                <p>Our success is echoed by the voice of our people. We offer good career progression and training to our employees to continue this success.
                </p>

                <p>If you want to be part of a fast growing and ambitious company backed up by open and honest management at the heart of the organisation, then SJD is the company for you.
                </p>

                <p>We are a service driven company and take pride in ourselves and our teams. Working in a friendly and professional environment is important to us. Our core values for both our people and our clients are:
                </p>




                <div class="icon-wrapper">

                    <div class="icon-item">
                        <div class="icon"><i class="fa fa-thumbs-up  fa-5x"></i></div>
                        <div class="description">
                            <strong>Support</strong>
                            <p>You'll never have to look elsewhere</p>
                        </div>
                    </div>
                    <div class="icon-item">
                        <div class="icon"><i class="fa fa-graduation-cap fa-5x"></i></div>
                        <div class="description">
                            <strong>Educate</strong>
                            <p>We'll guide and support you from A-Z</p>
                        </div>
                    </div>

                    <div class="icon-item">
                        <div class="icon"><i class="fa fa-check-square-o  fa-5x"></i></div>
                        <div class="description">
                            <strong>Liberate</strong>
                            <p>Freeing you to get your job done</p>
                        </div>
                    </div>
                </div>


                <p>At SJD we offer the perfect balance of on-the-job training, coaching and mentoring. Our training programmes include; accountancy and tax advice via a variety of external training partners, management and leadership development, skills deployment inventory, relationship awareness, and team development.

                </p>

                <h3>We offer a flexible benefits package which includes:
                </h3>
                <ul>
                    <li>Defined contribution pension;</li>
                    <li>Loyaly aware -  annual leave increases with length of service; and</li>
                    <li>Supported professional study.</li>
                </ul>



                <h3>Our People</h3>
            <div class="candidates">

                {#<div class="candidate">#}
                    {#<div class="pic">#}
                        {#<img src="/{{ Theme.get() }}/img/candidates/shelby.png" alt="Candidate">#}
                        {#<h4>Shelby Nash</h4>#}
                        {#<cite>Account Support Co-ordinator</cite>#}
                    {#</div>#}
                    {#<div class="meta">#}
                        {#<p>SJD is a great place to work with excellent opportunies. The staff are always welcoming, friendly and happy to help.</p>#}
                    {#</div>#}
                {#</div>#}

                <div class="candidate">
                    <div class="pic-container" style="background-image:url(/{{ Theme.get() }}/img/candidates/shelby.png);">
                        <div class="content">
                            <div class="text">
                                <h4>Shelby Nash</h4>
                                <cite>Account Support Co-ordinator</cite>
                            </div>
                        </div>
                    </div>
                    <div class="meta">
                        <p>SJD is a great place to work with excellent opportunities. The people here are always welcoming, friendly and happy to help.</p>
                    </div>
                </div>
                <div class="candidate">
                    <div class="pic-container" style="background-image:url(/{{ Theme.get() }}/img/candidates/theresa.png);">
                        <div class="content">
                            <div class="text">
                                <h4>Theresa Appiah</h4>
                                <cite>Account Support Co-ordinator</cite>
                            </div>
                        </div>
                    </div>
                    <div class="meta">
                        <p>I joined here several weeks ago and, I have to say that SJD Accountancy has an outstanding working environment. I Love it!</p>
                    </div>
                </div>

                {#<div class="candidate">#}
                    {#<div class="pic-container" style="background-image:url(/{{ Theme.get() }}/img/candidates/ryan.jpg);">#}
                        {#<div class="content">#}
                            {#<div class="text">#}
                                {#<h4>Ryan Rowe</h4>#}
                                {#<cite>Trainee Accountant</cite>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="meta">#}
                        {#<p>I really enjoy working in the finance team, it’s highly rewarding as I get to see how the business operates on a day to day basis. We have a great sense of team work and always try and share our knowledge with each other where possible.</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="candidate">#}
                    {#<div class="pic-container" style="background-image:url(/{{ Theme.get() }}/img/candidates/billy.jpg);">#}
                        {#<div class="content">#}
                            {#<div class="text">#}
                                {#<h4>Billy Graham</h4>#}
                                {#<cite>Billing and Credit Control Manager</cite>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="meta">#}
                        {#<p>Working as part a team is one of the best things within SJD. We always pull together when needed to ensure all of the tasks are complete. This is also good as we are always learning from each other.</p>#}
                    {#</div>#}
                {#</div>#}

                <div class="candidate">
                    <div class="pic-container" style="background-image:url(/{{ Theme.get() }}/img/candidates/joe.jpg);">
                        <div class="content">
                            <div class="text">
                                <h4>Joe Munt</h4>
                                <cite>Accountant</cite>
                            </div>
                        </div>
                    </div>
                    <div class="meta">
                        <p>A friendly environment in the office and great atmosphere to work in but the responsibility of looking after your clients is taken seriously, hence the concentration!</p>
                    </div>
                </div>


                {#<div class="candidate">#}
                    {#<div class="pic-container" style="background-image:url(/{{ Theme.get() }}/img/candidates/zairah.png);">#}
                        {#<div class="content">#}
                            {#<div class="text">#}
                                {#<h4>Zairah Hussain</h4>#}
                                {#<cite>Accountant</cite>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="meta">#}
                        {#<p>As a part qualified ACCA accountant, I love working here because my colleagues genuinely invest in me; they’re helping me improve myself every day. SJD is a company that fosters the growth mind- set and actually provides employees with the energy and enthusiasm to make it happen. It is a company in which you can really contribute and grow and it’s a company that you can have fun in. I have a job that offers variety and challenges me.</p>#}
                    {#</div>#}
                {#</div>#}


                <div class="candidate">
                    <div class="pic-container" style="background-image:url(/{{ Theme.get() }}/img/candidates/kate.jpg);">
                        <div class="content">
                            <div class="text">
                                <h4>Kate Bresnan</h4>
                                <cite>Head of Marketing, SJD Accounting</cite>
                            </div>
                        </div>
                    </div>
                    <div class="meta">
                        <p>Joining SJD was a good decision. Every day I get the chance to work with people from all parts of the organisation. Together there is lots of opportunity to make a real difference to the business. Teamwork is at the heart of the culture here – and that makes it a great place to work.
                        </p>
                    </div>
                </div>
                <div class="candidate">
                    <div class="pic-container" style="background-image:url(/{{ Theme.get() }}/img/candidates/girmante.png);">
                        <div class="content">
                            <div class="text">
                                <h4>Girmante Kaziukaityte</h4>
                                <cite>Accountant</cite>
                            </div>
                        </div>
                    </div>
                    <div class="meta">
                        <p>I like working at SJD because of the people. You are always surrounded with very friendly and supportive colleagues, which creates a great working atmosphere.
                        </p>
                    </div>
                </div>

            </div>
            {% endif %}


        {% endfilter %}
    </div>
</div>

{% endblock %}