{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}

<div class="content">
    <div class="esc">
        <h1>{% filter content('page.contact-header') %}Contact Us{% endfilter %}</h1>
        {% if session_has('message') %}
            <div class="alert alert-info">
                {{ session_get('message') }}
            </div>
        {% endif %}



        <div class="col">
        {% filter content('page.contact-content') %}
            <h3>Andrew Green - Internal Recruitment Business Partner</h3>

            {% if Theme.get() == 'nixon' %}
            <p>I have been in the Recruitment Industry for both agency and in-house recruitment for over 20 years, I have worked across a multitude of sectors from Accountancy, IT, Telecoms, HR, Finance, Sales and Health care. As an experienced Recruitment Business Partner I constantly strive to provide a professional and consultative service to clients and candidates alike. I pride myself on knowing my sector which enables me to provide a full and rounded recruitment solution. Nixon Williams is a great place to work and it’s a pleasure to talk to anyone who wants to join us!

            </p>
    {% else %}
        <p>I have been in the Recruitment Industry for both agencies and in-house recruitment for over 20 years, I have worked across a multitude of sectors from Accountancy, IT, Telecoms, HR, Finance, Sales and Health care. As an experienced Recruitment Business Partner I constantly strive to provide a professional and consultative service to clients and candidates alike. I pride myself on knowing my sector which enables me to provide a full and rounded recruitment solution. SJD is a great place to work and it’s a pleasure to talk to anyone who wants to join us!
        </p>

        {% endif %}
            <p>E-mail address: {% if Theme.get() == 'nixon' %}andrew.green@nixonwilliams.co.uk{% else %}andrew.green@sjdaccountancy.co.uk{% endif %}<br />
                Contact number: 01442 232700</p>
            <img style="width:100%;" src="/{{ Theme.get() }}/img/contact-page-photo.jpg" />
        {% endfilter %}
        </div>
        <div class="col">
            <form role="form" method="post" action="">
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <div class="form-row">
                    <label for="ipt1">Your Name</label>
                    <input type="text" name="name" id="ipt1" placeholder="Your Name">
                </div>
                <div class="form-row">
                    <label for="ipt2">Email Address</label>
                    <input type="email" name="email" id="ipt2" placeholder="Enter email">
                </div>
                <div class="form-row">
                    <label for="ipt3">Contact Number</label>
                    <input type="tel" name="phone" id="ipt3" placeholder="Contact number">
                </div>
                <div class="form-row">
                    <label for="ipt4">Your Message</label>
                    <textarea rows="6" id="ipt4" name="comments" placeholder="Your comments"></textarea>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="map">
    <div id="map-canvas"></div>
    <div id="map-inner">
        <div class="esc">
            {% filter content('page.contact-map') %}
            <h2>Find Us</h2>
            <h3>Why not come and say hello.</h3>
            {%  if Theme.get() == 'sjd' %}
            <a target="_blank" href="https://www.google.co.uk/maps/place/S+J+D+Accountancy/@51.6835191,-0.8681897,9z/data=!4m8!1m2!2m1!1sTower+Cotterells,+Hemel+Hempstead+HP1+1FW!3m4!1s0x4876415ff3407ead:0x3bb8a36721c0f173!8m2!3d51.746983!4d-0.474972" class="btn btn-lg btn-glass">Get Directions</a>
            {% else %}
            <a target="_blank" href="https://www.google.co.uk/maps/place/Nixon+Williams+Ltd/@53.774743,-3.0300897,17z/data=!4m13!1m7!3m6!1s0x487b4153cde9af73:0x1021f5d3a01fc566!2s4+Amy+Johnson+Way,+Blackpool,+Lancashire+FY4+2RP!3b1!8m2!3d53.7776059!4d-3.0329216!3m4!1s0x487b415109f40da7:0x15b68495ccf3d053!8m2!3d53.774743!4d-3.027901" class="btn btn-lg btn-glass">Get Directions</a>
            {% endif %}
            {% endfilter %}
        </div>
    </div>
</div>

{% endblock %}