{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}

<div class="content">
    <div class="esc">
        {% filter content('page.cookies') %}
        <h1>Cookie Policy</h1>

        <h3>What are cookies?</h3>
        <p>A cookie is a small text file which is sent from the website to your computer. It contains information about you as a user on the website to personalise your experience. For example, to determine if you are a registered user and, if so, allow you access to registration protected areas of the site or the correct user profile.
        </p>
        <p>Session cookies are only stored for the duration of your visit to the website and will be removed when the browser window is closed. For example, when you close your browser window the relevant authentication cookie is removed and you will need to login again the next time you visit the website.
        </p>

        <p>Permanent cookies are stored for a period of time and are used to identify you when you return to the site. For example, your username may be remembered on the login page.
        </p>

        <h3>Registration and Login</h3>
        <p>Actions such as Registration and Login will set cookies which allows the browser to know which access to allow the website visitor.
        </p>
        <h3>First party cookies</h3>
        <p>The following cookies are set by this website:
        </p>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th width="15%">Cookie name</th>
                    <th width="15%">Duration</th>
                    <th width="15%">Intrusion Level</th>
                    <th>Purpose</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>tb_session</td>
                        <td>session</td>
                        <td>low</td>
                        <td><p>A session cookie is set to tell if you are:</p>
                            <ul>
                                <li>anonymous - visiting the site but not logged in</li>
                                <li>authenticated - logged in so that you will be able to view registration protected areas of the site and your user profile.</li>
                                <li>admin - various levels of admin eg full admin or user manager
                                </li>


                            </ul>

                        </td>
                    </tr>
                    <tr>
                        <td>__utmb</td>
                        <td>session</td>
                        <td>low</td>
                        <td rowspan="5"><p>These are Google Analytics cookies.
                            </p>
                           <p>Google Analytics is used to look at the way people navigate through the site, which pages and links are popular etc to make sure that the site is effective in getting information to the site visitor. Google Analytics will not record any personal information such as your name or login details.
                               For more details, see Cookies and Google Analytics.</p>

                        </td>
                    </tr>

                    <tr>
                        <td>__utma</td>
                        <td>permanent<br />
                            24 months</td>
                        <td>low</td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>__utmz</td>
                        <td>permanent<br />
                            6 months</td>
                        <td>low</td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            __utmv
                        </td>
                        <td>session</td>
                        <td>low</td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            __utmx
                        </td>
                        <td>session</td>
                        <td>low</td>
                        <td>
                        </td>
                    </tr>




                </tbody>
            </table>
        </div>


        <h3>Third Party Cookies</h3>
        <p>If this site has code from a Third Party site, the Third Party site may set Third Party cookies on your computer:

        </p>

        <p>
            <ul>
                <li>if the page with the code is viewed, eg Google Analytics, YouTube
                </li>
                <li>if you click the link to the Third Party site eg Facebook, Twitter, Google +1, LinkedIn, Vimeo, AddThis, Asset.tv.
                </li>
            </ul>

        </p>

        <p>The intrusion level of Third Party cookies vary and you should check their Privacy Policies for more details.
        </p>

        <h3>Help Guides on Removing Cookies
        </h3>

        <p>The following guides can help you delete cookies stored by your browser:
        </p>

        <p>
            <ul>
                <li><a href="https://support.google.com/chrome/answer/95647?hl=en">Google Chrome</a></li>
                <li><a href="https://support.microsoft.com/en-gb/kb/278835">Internet Explorer</a></li>
                <li><a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored">Firefox</a></li>
                <li><a href="https://windowsinstructed.com/remove-microsoft-edge-browsing-data-cache-history-cookies/">Microsoft Edge</a></li>
                <li><a href="https://support.apple.com/kb/PH5049?locale=en_GB">Safari</a></li>
            </ul>
        </p>

        {% endfilter %}
    </div>
</div>

{% endblock %}