{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}

<div class="content">
    <div class="esc">
        {% filter content('page.privacy') %}
        <h1>Privacy Statement</h1>
        <p>We are committed to respecting your privacy. You may use our website without identifying yourself or revealing any of your personal information. If you choose to provide us with any information by which you may be identified to support your registration we will collect the following personal information, including name, address, phone number, e-mail address. You may be invited to submit personal data for on-line surveys and in that case we will only use that information for the express purpose given.
        </p>

        <p>We may wish to contact you about our roles at our company. We may use information that does not identify you individually for statistical purposes.
        </p>

        <p>We will not transfer or distribute your personal information to third parties (other than our website developers or website hosts) without your permission unless we are required by law to do so.
        </p>

        <p>For your protection, we are registered under the Data Protection Act 1998 and have given all appropriate notifications to the Information Commissioner.
        </p>

        {% endfilter %}
    </div>
</div>

{% endblock %}