{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}

<div class="content">
    <div class="esc">
        {% filter content('page.recruitment-policy') %}
        <h1>Recruitment and Selection Policy and Procedure</h1>
        <p>This is a non-contractual policy and could be amended in line with business requirements. The recruitment and selection decision is instrumental in achieving the best possible person-to-job fit, which will contribute significantly towards the Company’s effectiveness. It is also becoming increasingly important that as the Company evolves and changes, new/existing recruits show a willingness to learn, adaptability and ability to work as part of a team. The Company values its employees and as a result, all vacancies will be primarily advertised internally to allow existing employees opportunities for development and career progression. This in turn increases employee engagement and retention and also supports succession planning.
        </p>
<p>The purpose of this policy is to ensure that the recruitment process is:
</p>

        <ul>
            <li>Fair and consistent</li>
            <li>Non-discriminatory</li>
            <li>Conforms to all statutory regulations and agreed best practice.
            </li>
        </ul>

        {% endfilter %}
    </div>
</div>

{% endblock %}