{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}

<div class="content">
    <div class="esc">
        {% filter content('page.terms-and-conditions') %}
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius itaque necessitatibus saepe cum dicta culpa aut, et eos dolores quaerat pariatur voluptates nesciunt, quisquam adipisci voluptatum illo incidunt voluptatibus eligendi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor temporibus repellat rem architecto qui similique numquam, minima nemo voluptate deleniti, facilis officia quidem laudantium veniam, dolorum alias explicabo. Quod, quo.</p>
        <img class="img-responsive pull-right" src="img/aboutus.jpg" alt="About Us">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit doloribus maxime placeat fugiat excepturi reiciendis, quisquam ex quasi laboriosam nesciunt veniam libero nihil? A deleniti, tempora sed facere eius necessitatibus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste aliquid delectus, sapiente ipsa ducimus, inventore, distinctio maxime repellendus consequuntur at architecto eum natus dolorem blanditiis quaerat obcaecati asperiores tenetur. Cum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat rerum expedita dignissimos velit dolore assumenda fugiat maiores, ex. Mollitia nobis dolor corporis incidunt atque dolorem nihil facere voluptates cum dolorum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ex qui fugit saepe dolor suscipit nihil quam nostrum in optio repudiandae, autem magnam officiis maiores inventore, ullam harum consequuntur itaque?</p>
        <ul>
            <li><a href="#">Hyperlink List Item</a></li>
            <li>Normal List Item</li>
            <li>Another Regular Item</li>
        </ul>
        {% endfilter %}
    </div>
</div>
{% endblock %}