{% extends "layout.twig" %}

{% block content %}


<div class="text-block no-bottom-padding">
    <div class="esc">
    {% filter content('index.main-content') %}
        {% if Theme.get() == 'nixon' %}
            <h5>Our Offering</h5>
            <p>Nixon Williams offer full training and career progression. Would you like a chance to build a successful career underpinned by knowledge and relationships? Nixon Williams provide advice and services to their customers on all aspects of their tax and business affairs. If you’d like to make a difference, Nixon Williams offer full training and career progression.
            </p>
         {% else %}
             <h5>Our Offering</h5>
             <p>Would you like to work for a specialist accountancy practice? SJD is the UK’s leading provider of accountancy services to professional contractors. SJD offer a dedicated accountant to every client, providing full business planning support from company formations and contract reviews to annual tax returns and tax advice. What's more, SJD offer clear career paths and opportunities to help you build a successful career in accountancy.
             </p>
         {% endif %}

    {% endfilter %}
    </div>
</div>


<div id="recent">
	<div class="esc">
		<h5>Recent Jobs</h5>
		<div class="recent-jobs">
			{% for job in jobs|slice(0, 8) %}
			<div class="job" style="min-height:220px;">
				<a href="/job/{{ job.id }}">
					<h4>{{ job.title }}</h4>
					<span class="salary">{{ job.salary_text }}</span>
					<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ job.location }}</span>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<div id="slogan">
	<div class="esc">
		<div class="sloganwrap">
			<div class="slogan">
                {% filter content('index.lower-hero') %}
                {% if Theme.get() == 'nixon' %}
                    <h1>Come join us&hellip;</h1>
                    <h2>We’ll support you to achieve a career you can be proud of!
                    </h2>
                {% else %}
                <h1>Come join us&hellip;</h1>
                <h2>We’ll support you to achieve a career you can be proud of!
                </h2>
                {% endif %}
                <a href="/jobs" class="btn btn-lg btn-glass">View All Jobs</a>

                {% endfilter %}
			</div>
		</div>
	</div>
</div>

{#<div id="social">#}
	{#<div class="esc">#}
		{#<h5>We're Social Butterflies</h5>#}
		{#<div class="socialwrap">#}
			{#<div class="item twitter">#}
				{#<a href="#">#}
					{#<i class="fa fa-twitter" aria-hidden="true"></i>#}
					{#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&hellip;</p>#}
					{#<span class="author">Some Author</span>#}
				{#</a>#}
			{#</div>#}
			{#<div class="item linkedin">#}
				{#<a href="#">#}
					{#<i class="fa fa-linkedin" aria-hidden="true"></i>#}
					{#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&hellip;</p>#}
					{#<span class="author">Some Author</span>#}
				{#</a>#}
			{#</div>#}
			{#<div class="item facebook">#}
				{#<a href="#">#}
					{#<i class="fa fa-facebook" aria-hidden="true"></i>#}
					{#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&hellip;</p>#}
					{#<span class="author">Some Author</span>#}
				{#</a>#}
			{#</div>#}
			{#<div class="item facebook">#}
				{#<a href="#">#}
					{#<i class="fa fa-facebook" aria-hidden="true"></i>#}
					{#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&hellip;</p>#}
					{#<span class="author">Some Author</span>#}
				{#</a>#}
			{#</div>#}
			{#<div class="item twitter">#}
				{#<a href="#">#}
					{#<i class="fa fa-twitter" aria-hidden="true"></i>#}
					{#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&hellip;</p>#}
					{#<span class="author">Some Author</span>#}
				{#</a>#}
			{#</div>#}
			{#<div class="item facebook">#}
				{#<a href="#">#}
					{#<i class="fa fa-facebook" aria-hidden="true"></i>#}
					{#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&hellip;</p>#}
					{#<span class="author">Some Author</span>#}
				{#</a>#}
			{#</div>#}
			{#<div class="item linkedin">#}
				{#<a href="#">#}
					{#<i class="fa fa-linkedin" aria-hidden="true"></i>#}
					{#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&hellip;</p>#}
					{#<span class="author">Some Author</span>#}
				{#</a>#}
			{#</div>#}
			{#<div class="item twitter">#}
				{#<a href="#">#}
					{#<i class="fa fa-twitter" aria-hidden="true"></i>#}
					{#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&hellip;</p>#}
					{#<span class="author">Some Author</span>#}
				{#</a>#}
			{#</div>#}
		{#</div>#}
	{#</div>#}
{#</div>#}


    <div id="socialbar">
        <div class="esc">
            {% if Theme.get() == 'nixon' %}
                <a target="_blank" href="https://twitter.com/nixon_williams"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.facebook.com/Nixon-Williams-Ltd-201838883212514/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a target="_blank" href="http://uk.linkedin.com/company/nixon-williams-limited?trk=ppro_cprof"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a target="_blank" href="https://plus.google.com/+nixonwilliams/posts"><i class="fa fa-google" aria-hidden="true"></i></a>
            {% else %}
                <a target="_blank" href="https://twitter.com/sjdaccountancy"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.facebook.com/sjdaccountancy"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/sjd-accountancy"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a target="_blank" href="https://plus.google.com/u/0/+sjdaccountancy/posts"><i class="fa fa-google" aria-hidden="true"></i></a>
            {% endif %}
        </div>
    </div>

    <div id="aboutus">
        <div class="esc">
            <div class="col">
                {% filter content('index.about-us') %}
                    {% if Theme.get() == 'nixon' %}
                        <h5>About Us</h5>
                        <p>Here at Nixon Williams we pride ourselves on being one of the leading UK Contractor Accountants. Nixon Williams stands apart from others because we never give up on our drive to be outstanding, distinctive in character and uncompromisingly committed to our values. We enjoy delivering excellence in  everything we do, we rely on outstanding teamwork and always strive to deliver high levels of customer satisfaction.</p>
                    {% else %}
                        <h5>About Us</h5>
                        <p>We’re a multi-award winning provider of Limited Company accountancy services. We’ve been serving contractors, freelancers and small to medium sized businesses since 1992, and now boast over 15,000 clients – making us the largest company in our field.</p>
                    {% endif %}
                {% endfilter %}
            </div>
            <div class="col">
                {% if Theme.get() == 'nixon' %}
                <img src="/{{ Theme.get() }}/img/candidates/IMG_0943.JPG" alt="">
                {% else %}
                <img src="/{{ Theme.get() }}/img/aboutus.jpg" alt="">
                {% endif %}
            </div>
        </div>
    </div>



 {#    <div id="social">
        <div class="esc">
            <h5>We're Social Butterlfies</h5>
            <div class="socialwrap"></div>
        </div>
    </div> #}
{% endblock %}