<html>
<head>

    {% block head %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{% if Theme.get() == 'nixon' %}Nixon Williams{% else %}SJD Accountancy{% endif %}</title>

    <link rel="stylesheet" href="/{{ Theme.get()  ~ '/css/theme.css' }}">
	<link rel="stylesheet" href="/{{ Theme.get()  ~ '/css/site.css' }}">


	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="icon" type="image/png" href="/favicon.png" />

	<meta name="msapplication-TileColor" content="#000000">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">

	{#<meta name="twitter:site" value="@mattsince87">#}


        {#
	<meta property="og:title" content="">
	<meta property="og:type" content="website">
	<meta property="og:image" content="">
	<meta property="og:site_name" content="">
	<meta property="og:url" content="">
	<meta property="og:description" content="">#}

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->



	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css">
    <link href="/default/bower_components/social-feed/css/jquery.socialfeed.css" rel="stylesheet" type="text/css">

        {% if edit_mode %}
        <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/default/css/medium-editor-insert-plugin.min.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/default/css/admin.css" type="text/css" media="screen" charset="utf-8">
    {% endif %}
    <style>
        .ui-datepicker-calendar {
            display: none;
        }
    </style>

    {% if Theme.get() == 'nixon' %}
    <style>

    </style>
    {% else %}
    <style>
        ul li {
            color:#627282 !important;
        }
    </style>

    {% endif %}

    {%  endblock %}


</head>
<body>
{% if edit_mode %}
    <div id="editor">
        <div class="message">
            <i class="fa fa-pencil-square"></i> You're in edit mode. <span class="dynamic"></span>
            {% if input_get('saved') %}
                <span class="successfully-saved"> Changes saved!</span>
            {% endif %}
        </div>

        <ul>
            {% if job.id %}
            <li><a href="https://engage.talentbake.com/job/{{ job.id }}/management/"><i class="fa fa-pencil-square"></i> EDIT JOB</a></li>
            {% endif %}
            <li><a href="/content/exit"><i class="fa fa-times-circle-o"></i> EXIT</a></li>
            <li><a href="#" id="save"><i class="fa fa-check-circle-o"></i> SAVE</a></li>
        </ul>
    </div>
{% endif %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    {% if Theme.get() == 'nixon' %}
    ga('create', 'UA-80265033-1', 'auto');
    ga('send', 'pageview');
    {% elseif Theme.get() == 'sjd' %}
    ga('create', 'UA-80265033-2', 'auto');
    ga('send', 'pageview');
    {% endif %}


</script>

<header id="header">
	<!-- Top -->
	<div id="top">
		<div class="esc">
			<nav class="nav-bar nav-inline pull-right">
				<div class="nav-header">
					<a href="/" class="name"><img class="logo" src="{{  Theme.url('img/logo.png') }}" alt="Nixon"></a>
				</div>
				<a href="#" class="nav-ctrl"><i class="fa fa-bars"></i></a>
				<ul id="nav">
					<li><a href="/" title="Home">Home</a></li>
					<li><a href="/page/about" title="About">About</a></li>
					<li><a href="/page/candidates" title="Candidates">Join Us</a></li>
					<li><a href="/jobs" title="Jobs">Jobs</a></li>
					<li><a href="/page/contact" title="Contact">Contact</a></li>

                    {% if not session_has('candidate_id') %}
                        <li><a href="#" title="Login/Signup" class="btn btn-glass open-modal" data-target="#modaldemo">Login/Signup</a></li>
                    {% else %}
                        <li><a href="/logout" title="Logout" class="btn btn-glass">Logout</a></li>
                    {% endif %}
				</ul>

			</nav>
		</div>
	</div>

    {% block hero %}
	<!-- Hero -->
	<div id="hero">
		<div class="esc">
			<div class="text">
                {% filter content('index.hero') %}
                {% if Theme.get() == 'nixon' %}
				<h1>Working together for a better career&hellip;</h1>
				<h2>Bringing out the best in each other</h2>
                {% else %}
                    <h1>Leading the way to your next career path&hellip;</h1>
                    <h2>A journey towards excellence.</h2>
                {% endif %}
                {% endfilter %}
			</div>

            {% if Theme.get() == 'nixon' %}
			<div class="berg"></div>
            {% else %}

                <div class="berg"></div>
            {% endif %}
		</div>
	</div>

        <!-- Sub Hero -->
	<div id="subhero">
		<div class="esc">
			<div class="berg"></div>
			<div class="text">
				<h3>We have <b>{{ jobCount }}</b> open doors...</h3>
				<a href="/jobs" class="btn btn-lg btn-glass">View All {{ jobCount }} Jobs</a>
			</div>
		</div>
	</div>
    {% endblock %}
</header>

{%  block content %}{%  endblock %}

<footer id="footer">
	<div class="esc">
		<div class="col">
            {% if Theme.get() == 'nixon' %}
			<h5>Nixon Williams</h5>
            {% else %}
            <h5>SJD Accountancy</h5>
            {% endif %}
			<ul>
				<li><a href="/">Homepage</a></li>
				<li><a href="/page/about">About Us</a></li>
				<li><a href="/page/candidates">Join Us</a></li>
				<li><a href="/jobs">Jobs</a></li>
				<li><a href="/page/contact">Contact</a></li>

                {%  if not Session.has('candidate_id') %}
				<li><a href="/login" class="open-modal" data-target="#modaldemo">Login/Signup</a></li>
			    {% else %}
                <li><a href="/logout" >Logout</a></li>
                {% endif %}
            </ul>
		</div>

		<div class="col social">
			<h5>Social</h5>
            {% if Theme.get() == 'nixon' %}
			<a target="_blank" href="https://twitter.com/nixon_williams"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a target="_blank" href="https://www.facebook.com/Nixon-Williams-Ltd-201838883212514/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a target="_blank" href="http://uk.linkedin.com/company/nixon-williams-limited?trk=ppro_cprof"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			<a target="_blank" href="https://plus.google.com/+nixonwilliams/posts"><i class="fa fa-google" aria-hidden="true"></i></a>
            {% else %}
            <a target="_blank" href="https://twitter.com/sjdaccountancy"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.facebook.com/sjdaccountancy"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/sjd-accountancy"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a target="_blank" href="https://plus.google.com/u/0/+sjdaccountancy/posts"><i class="fa fa-google" aria-hidden="true"></i></a>
            {% endif %}
		</div>
		<div class="col">
			<h5>Legal</h5>
			<ul>
				<li><a href="/page/privacy">Privacy</a></li>
				<li><a href="/page/cookies">Cookies Policy</a></li>
				<li><a href="/page/recruitment-policy">Recruitment Policy</a></li>
			</ul>
		</div>
	</div>
</footer>

{% block footer %}
<footer id="footerbar">
	<div class="esc">
		<p>Copyright &copy; 2016 - All Rights Reserved</p>
	</div>
</footer>
{% endblock %}

<div id="modaldemo" class="modal-wrap closed" role="dialog">
	<div class="modal">
		<a href="#" class="modal-close"></a>
		<div class="modal-content">
			<!-- Content Here -->
            <h1>Login</h1>
            <p>Not got an account? It doesn't take long to set one up! <a href="/signup" title="Create an account">Create one here.</a></p>
            <form role="form" method="post" action="/login">
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <div class="form-row">
                    <label for="ipt1">Email</label>
                    <input type="email" name="email" id="ipt1" placeholder="Enter email">
                </div>
                <div class="form-row">
                    <label for="ipt2">Password</label>
                    <input type="password" name="password" id="ipt2" placeholder="Password">
                </div>

                <div class="form-row">
                    <input type="submit" name="submit" class="btn btn-success" value="Login" />                </div>

            </form>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBgU_OwM_o4O78qo5rd9vtRZGXklea1nQ&v=3.exp&sensor=false"></script>

<script src="/default/script/gmrui/gmrui.min.js"></script>
<script src="/{{ Theme.get() }}/script/config.jquery.min.js"></script>
<script src="/default/script/register.js"></script>

<script src="/default/bower_components/codebird-js/codebird.js"></script>
<!-- doT.js for rendering templates -->
<script src="/default/bower_components/doT/doT.min.js"></script>
<!-- Moment.js for showing "time ago" and/or "date"-->
<script src="/default/bower_components/moment/min/moment.min.js"></script>
<!-- Moment Locale to format the date to your language (eg. italian lang)-->
<script src="/default/bower_components/moment/locale/it.js"></script>
<!-- Social-feed js -->
<script src="/default/bower_components/social-feed/js/jquery.socialfeed.js"></script>


{% if edit_mode %}
    <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.min.js"></script>

    {#<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script>#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.fileupload.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.iframe-transport.js"></script>

    <script src="http://johnny.github.io/jquery-sortable/js/jquery-sortable.js"></script>

    <script src="/default/script/medium-editor-insert-plugin.min.js"></script>
<script src="/default/script/admin.js"></script>
{% endif %}
<script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
<script>

    function getSocialFeed()
    {
        $.ajax({
            type: 'GET',
            url: '/ajax/feed',
            dataType: 'json',
            success: function (res) {
                for (var i =0;i<res.data.length;i++) {
                    var el = res.data[i];

                    var shortDesc = el.canonicalMessage.substr(0,40);

                    if (!shortDesc) {
                        shortDesc = el.story.substr(0,40);
                    }

                    var feedClass = 'facebook';
                    switch (el.feedItemPlatform) {
                        case 'twitter':
                            feedClass = 'twitter';
                            break;
                    }

                    var html = ' <div class="item facebook">\
                            <a href="' + el.link + '">\
                            <i class="fa fa-facebook" aria-hidden="true"></i>\
                            <p>' + shortDesc + '&hellip;</p>\
                    <span class="author">SJD Accountancy</span>\
                    </a>\
                    </div>';

                    $(".socialwrap").append(html);


                }
            }
        });
    }

    $(function() {
        getSocialFeed();



        $(".yearmonth-picker").datepicker( {
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yy-mm',
            onClose: function(dateText, inst) {


                function isDonePressed(){
                    return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
                }

                if (isDonePressed()){
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1)).trigger('change');

                    $('.date-picker').focusout()//Added to remove focus from datepicker input box on selecting date
                }
            },
            beforeShow : function(input, inst) {

                inst.dpDiv.addClass('month_year_datepicker')

                if ((datestr = $(this).val()).length > 0) {
                    year = datestr.substring(datestr.length-4, datestr.length);
                    month = datestr.substring(0, 2);
                    $(this).datepicker('option', 'defaultDate', new Date(year, month-1, 1));
                    $(this).datepicker('setDate', new Date(year, month-1, 1));
                    $(".ui-datepicker-calendar").hide();
                }
            }

            });


    $(".select-cv").click(function() {

        $(".loading-bar").show();
            filepicker.setKey('AtLgM4hTTZClvHFyuaTIbz');
            filepicker.pick(
                {
                    mimetype: [

                        'application/pdf',
                        'application/msword',
                        'application/msword',
                        'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
                    ],
                    container: 'window',
                    services: ['COMPUTER','DROPBOX','GOOGLE_DRIVE', 'GMAIL', 'BOX','CLOUDDRIVE','SKYDRIVE']
                },
                function(Blob){

                    $.ajax({
                        type: 'POST',
                        url: '/signup/uploadcv',
                        data: { 'type': 'url', 'path': Blob.url, 'filename': Blob.filename },
                        dataType: 'json',
                        success: function (res) {
                            $(".cv-info").text(Blob.filename);
                            window.location = '/signup';
                            $(".loading-bar").hide();
                        }
                    });
                },
                function(FPError){
                }
            );

            return false;
        });

    });

</script>

</body>
</html>