{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}
    <div class="content">
        <div class="esc">

            <h1>Account Dashboard</h1>

            <nav class="nav-bar nav-inline">
                <ul>
                    <li><a href="/candidate/dashboard" title="Dashbnoard">Dashboard</a></li>
                    <li><a href="/candidate/applications" title="Jobs you've applied for">Applications</a></li>
                    {#<li><a href="/candidate/referrals" title="Lorem">Referrals</a></li>#}
                    <li><a href="/candidate/edit" title="Edit your Profile">Profile</a></li>
                </ul>
            </nav>
            <div class="dash-content">

                <h2>Welcome</h2>
                <p>We'll update this site frequently with our latest vacancies. Please make sure you keep your details up to date so we can contact you if we think we're a good match.</p>

                <hr>

                <h3>Table Example</h3>

                <!-- Responsive Table Example -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Job Title</th>
                            <th>Applied on</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for application in applications %}
                        <tr>
                            <th>1</th>
                            <td>{{ application.job.title }}</td>
                            <td>{{ application.appliedOn }}</td>
                            <td><a class="button button-error" href="/application/{{ application.id }}delete">delete</a></td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

                <hr>
            </div>
        </div>
    </div>
{% endblock %}