{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}
    <div class="content">
        <div class="esc">
            <h1>Account Dashboard</h1>

            <nav class="nav-bar nav-inline">
                <ul>
                    <li><a href="/dashboard" title="Dashbnoard">Dashboard</a></li>
                    {#<li><a href="/candidate/applications" title="Jobs you've applied for">Applications</a></li>#}
                    {#&#123;&#35;<li><a href="/candidate/referrals" title="Lorem">Referrals</a></li>&#35;&#125;#}
                    <li><a href="/candidate/edit" title="Edit your Profile">Profile</a></li>
                </ul>
            </nav>
            <div class="dash-content">

                <h2>Welcome</h2>
                <p>We'll update this site frequently with our latest vacancies. Please make sure you keep your details up to date so we can contact you if we think we're a good match.</p>

                <hr>

                <h3>Applications</h3>

                <!-- Responsive Table Example -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Job</th>
                            <th>URL</th>
                            <th>Date Applied</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% if applications|length > 0 %}

                            {% for application in applications %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td><a href="/job/{{ application.job.data.id }}">{{ application.job.data.title }}</a></td>
                                <td><a href="/job/{{ application.job.data.id }}">view</a></td>
                                <td>{{ application.created_at }}</td>
                            </tr>
                            {% endfor %}

                        {% else %}
                            <tr>
                                <td colspan="4"><center>None yet.</center></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>

                <hr>


            </div>
        </div>
    </div>
{% endblock %}