{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}
    <div class="content">
        <div class="esc">

            <h1>Edit Profile</h1>

            <nav class="nav-bar nav-inline">
                <ul>
                    <li><a href="/dashboard" title="Dashbnoard">Dashboard</a></li>
                    {#<li><a href="/candidate/applications" title="Jobs you've applied for">Applications</a></li>#}
                    {#&#123;&#35;<li><a href="/candidate/referrals" title="Lorem">Referrals</a></li>&#35;&#125;#}
                    <li><a href="/candidate/edit" title="Edit your Profile" class="active">Profile</a></li>
                </ul>
            </nav>
            <div class="dash-content">

                <h2>Update Profile</h2>
                <p>Please keep your profile up to date.</p>

                {% if session_has('success') %}
                    <div class="alert alert-success">
                        {{ session_get('success') }}
                    </div>
                {% endif %}



                {% if errors|length > 0 %}
                    <div class="alert alert-danger">
                        <p><b>Form issues</b> We've noticed a few issues with the data you've given us.</p>
                        <p>
                            {% for error in errors.all() %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </p>
                    </div>
                {% endif %}

                <!-- Form Example -->
                <form role="form" method="post" action="">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}">

                    <hr />
                    <h3>General</h3>


                    <div class="form-row">
                        <label for="ipt1">First Name</label>
                        <input type="text" id="ipt1" name="first_name" value="{{ candidate.first_name }}">
                    </div>
                    <div class="form-row">
                        <label for="ipt2">Last Name</label>
                        <input type="text" id="ipt2" name="last_name" value="{{ candidate.last_name }}">
                    </div>
                    <hr />


                    <h3>Contact</h3>


                    <div class="form-row">
                        <label for="ipt1">Phone</label>
                        <input type="text" id="ipt1" name="phone" value="{{ candidate.phone }}">
                    </div>

                    <hr />



                    <h3>Address</h3>


                    <div class="form-row">
                        <label for="ipt1">Address Line 1</label>
                        <input type="text" id="ipt1" name="address_line_1"  value="{{ candidate.address_line_1 }}">
                    </div>
                    <div class="form-row">
                        <label for="ipt2">Address Line 2</label>
                        <input type="text" id="ipt2" name="address_line_2"  value="{{ candidate.address_line_2 }}">
                    </div>

                    <div class="form-row">
                        <label for="ipt2">Address Line 3</label>
                        <input type="text" id="ipt2" name="address_line_3"  value="{{ candidate.address_line_3 }}">
                    </div>

                    <div class="form-row">
                        <label for="ipt2">Town</label>
                        <input type="text" id="ipt2" name="town"  value="{{ candidate.town }}">
                    </div>

                    <div class="form-row">
                        <label for="ipt2">County</label>
                        <input type="text" id="ipt2" name="county"  value="{{ candidate.county }}">
                    </div>

                    <div class="form-row">
                        <label for="ipt2">Postcode</label>
                        <input type="text" id="ipt2" name="postcode"  value="{{ candidate.postcode }}">
                    </div>



                <div class="form-row">
                    <input type="submit" name="submit" class="btn btn-default" value="Update profile" />
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}