{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}
    <div id="job" class="content">
        <div class="esc">
            <h1>Login</h1>

            <div class="main">

                <div class="job">
                    {% if errors|length > 0 %}
                        <div class="alert alert-danger">
                            <p><b>Form issues</b> We've noticed a few issues with the data you've given us.</p>
                            <p>
                            {% for error in errors.all() %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            </p>
                        </div>
                    {% endif %}

                    <form role="form" method="post" action="">

                        <input type="hidden" name="_token" value="{{ csrf_token() }}">

                        <div class="form-row">
                            <label for="ipt1">Email</label>
                            <input type="text" id="ipt1" name="email" value="{{ input.get('email') }}">
                        </div>

                        <div class="form-row">
                            <label for="ipt1">Password</label>
                            <input type="password" id="ipt1" name="password">
                        </div>


                        <div class="form-row">
                            <input type="submit" name="submit" class="btn btn-success" value="Submit" />
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>
{% endblock %}