{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}

<div class="content">
    <div class="esc">

        {% if interview.state == 'pending' %}
        <h1>Invite for Interview</h1>
        <p>Congratulations! You recently applied for a job with us, and we'd like to invite you to an interview at our offices. Please select a time which best suits you from the options below. You can also find directions to our interview location and some notes to help you below.</p>
        {% else %}
            <h1>Your interview details</h1>
            <p>We have you booked in at <strong>{{ interview.selected_time }}</strong>.</p>
       {% endif %}
        <hr>

        <h3>Your interview is for&hellip;</h3>
        <div class="job-applied">
            <div class="job">
                <a href="/job/{{ interview.job.data.id }}">
                    <h3 class="heading">{{ interview.job.data.title }}<span class="label label-success">Interview Offer</span></h3>
                    <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ interview.job.data.location }}</span>
                    <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> {#<span class="posted">Posted</span> <b>2 days ago</b>#}</span>
                    <span class="salary">{{ interview.job.data.salary_text }}</span>
                    <p>{{ interview.job.description }}</p>
                </a>
            </div>
        </div>

        {% if interview.state == 'pending' %}
        <h3>Select an interview date &amp; time&hellip;</h3>
        <div class="interview-dates">
            <form action="" method="post" >
                <input type="hidden" name="_token" value="{{ csrf_token() }}">

                {% for day in days %}
            <div class="id-box">
                <div class="date-wrap">
                    <div class="til"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ day.human_diff }}</div>
                    <div class="badge">
                        <div class="day">{{ day.day_name }}</div>
                        <span class="date">{{ day.day_number }}</span>
                        <span class="month">{{ day.month }}</span>
                    </div>
                </div>
                <div class="options">
                    {% for time in day.times %}
                    <div class="row">
                        <div class="switch">
                            <input id="switch{{ time.id }}" type="radio" name="selected_time" value="{{ time.id }}">
                            <label for="switch{{ time.id }}"></label>
                        </div>
                        <div class="label">
                            <label for="switch{{ time.id }}">{{ time.time }}</label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <input type="submit" class="btn btn-full btn-primary" name="submit" value="Accept">
            </div>
            {% endfor %}

        </form>
        </div>
        {% endif %}

        <h3>Know where you're going&hellip;</h3>
        <div id="map" class="interview">
            <div id="map-canvas"></div>
            <div id="map-inner">
                <div class="esc">
                    <h2>Interview Location</h2>
                    <h3>We're not hard to get to</h3>
                    <a href="https://maps.google.com/?q={{ interview.interview.data.location }}" class="btn btn-lg btn-glass">Get Directions</a>
                </div>
            </div>
        </div>

        <h3>What to do next&hellip;</h3>
        <div class="widget">
            <h5>Information</h5>
            {{ interview.interview.data.information }}

            {#<h5>Contact Details</h5>#}
            {#<p>Your interview is with <b>Employee Name</b>.</p>#}
            {#<p>Address Line 1, <br>#}
                {#Address Line 2, <br>#}
                {#Town, <br>#}
                {#AB 123</p>#}
            {#<p><b>Tel</b> 0123 456 7890</p>#}
        </div>

    </div>
</div>
{% endblock%}