<html>
<head>
    <title>Thank you for your application</title>
</head>

<body>

    <b>Dear {{ first_name }} {{last_name}}!</b>
    <p>Thank you for your application for the position of {{job_title}} on {{ site_name }}.</p>
    <p>We are currently reviewing your application.</p>
    <p>Please do keep an eye on our careers website for further updates.</p>
    <p>&nbsp;<br/></p>
    <p>Kind Regards</p>
    <p>Recruitment Team</p>
    <p>Please visit <a href="http://{{ site_host }}/jobs">http://{{ site_host }}/jobs</a> to browse our open vacancies.</p>
</body>
</html>
