<html>
<head>
    <title>Contact form</title>
</head>

<body>

    <b>Contact form ({{ Theme.get() }}) Enquiry</b>

    <table width="400">
        <tr>
            <td width="20%">Name</td><td>{{ name }}</td>
        </tr><tr>
            <td>Email</td><td>{{ email }}</td></tr>
        <tr>
            <td>Phone</td><td>{{ phone }}</td>

        </tr>

        <td>Comments:</td><td>{{ comments }}</td>
    </table>


</body>
</html>