<html>
<head>
    <title>Registration</title>
</head>

<body>

    <b>Hello {{ first_name }}!</b>
    <p>Welcome to {{ site_name }}.</p>
    <p>Please visit <a href="http://{{ site_host }}/jobs">http://{{ site_host }}/jobs</a> to browse our open vacancies.</p>
</body>
</html>