{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}
<div id="job" class="content">
	<div class="esc">

		<h1>Apply for {{ job.title }}</h1>

		<div class="main">

			<div class="job">
			    <p>Please confirm you wish to apply for this role.</p>
                <p>This role does not require any accompanying documents.</p>
                <hr>
                <form role="form" method="post" action="">
                    <div class="form-row">
                        <input type="hidden" name="_token" value="{{ csrf_token() }}">

                        <input type="submit" name="submit" class="btn btn-default" value="Submit my application for this role" />
                    </div>

                </form>

			</div>

		</div>

		<!-- Sidebar -->
		<aside class="sidebar">
			<div class="widget">
				<h5>Search Jobs</h5>
				<form role="form">
					<div class="form-row">
						<select>
							<option selected>Salary</option>
							<option>Option 2</option>
							<option>Option 3</option>
							<option>Option 4</option>
							<option>Option 5</option>
						</select>
					</div>
					<div class="form-row">
						<select>
							<option selected>Location</option>
							<option>Option 2</option>
							<option>Option 3</option>
							<option>Option 4</option>
							<option>Option 5</option>
						</select>
					</div>
					<div class="form-row">
						<input type="submit" class="btn btn-primary btn-lg btn-block" value="Search">
					</div>
				</form>
			</div>

            {% if not session_has('candidate_id') %}
			<div class="widget theme">
				<h5>Begin today&hellip;</h5>
				<a href="/signup" class="btn btn-lg btn-glass btn-block">Login/Signup</a>
			</div>
            {% endif %}
		</aside>

	</div>
</div>

    {#
<div id="recent" class="no-top-padding">
	<div class="esc">
		<h5>Similar Jobs</h5>
		<div class="recent-jobs">
			<div class="job">
				<a href="job.html">
					<h4>Opportunity Title</h4>
					<span class="salary">&pound;10,000 - &pound;10,000</span>
					<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Manchester</span>
				</a>
			</div>
			<div class="job">
				<a href="job.html">
					<h4>Opportunity Title</h4>
					<span class="salary">&pound;10,000 - &pound;10,000</span>
					<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Manchester</span>
				</a>
			</div>
			<div class="job">
				<a href="job.html">
					<h4>Opportunity Title</h4>
					<span class="salary">&pound;10,000 - &pound;10,000</span>
					<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Manchester</span>
				</a>
			</div>
			<div class="job">
				<a href="job.html">
					<h4>Opportunity Title</h4>
					<span class="salary">&pound;10,000 - &pound;10,000</span>
					<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Manchester</span>
				</a>
			</div>
		</div>
	</div>
</div>


<div id="referral">
	<div class="esc">
		<h5>Earn a referral reward</h5>
		<p>Enter the details of the person being referred below&hellip;</p>
		<hr>
		<form role="form">
			<div class="form-row">
				<label for="ipt1">First Name</label>
				<input type="text" id="ipt1" required placeholder="Enter first name">
			</div>
			<div class="form-row">
				<label for="ipt1">Last Name </label>
				<input type="text" id="ipt2" required placeholder="Enter last name">
			</div>

			<div class="form-row">
				<label for="ipt1">Email</label>
				<input type="text" id="ipt3" required placeholder="Enter email">
			</div>

			<div class="form-row">
				<label for="ipt1">Mobile Number</label>
				<input type="tel" id="ipt4" placeholder="Enter mobile">
			</div>

			<div class="form-row">
				<button class="btn btn-primary btn-md">Refer Now</button>
			</div>
		</form>
	</div>
</div>#}
{% endblock %}