{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}
    <div id="jobs" class="content">
        <div class="esc">

            <h1>Jobs <small>{{ jobs|length }} Jobs</small></h1>

            {% if input_get('q') %}
                <div class="alert alert-info">
                    <p>We've only included jobs which contain the keyword <i>"{{ input_get('q') }}"</i></p>
                </div>
            {% endif %}

            <div class="main">

                {% for job in jobs %}
                <div class="job">
                    <a href="/job/{{ job.id }}">
                        <h3 class="heading">{{ job.title }}</h3>
                        <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ job.location }}</span>
                        <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="posted">Posted</span> <b>{{ job.date_posted|date("d/m/Y") }}</b></span>
                        <span class="salary">{{ job.jobType.data.title }} {{ job.salary_text }}</span>
                        <p>{{ job.description|truncate(200, true)|striptags|raw}}</p>
                    </a>
                </div>
                {% endfor %}

                {#<nav role="menubar" aria-label="Pagination">#}
                    {#<ul class="pagination">#}
                        {#<li><a href="#" aria-label="Previous">&laquo;</a></li>#}
                        {#<li><a href="#">1</a></li>#}
                        {#<li class="active"><a href="#">2</a></li>#}
                        {#<li><a href="#">3</a></li>#}
                        {#<li><a href="#">4</a></li>#}
                        {#<li><a href="#">&hellip;</a></li>#}
                        {#<li><a href="#" aria-label="Next">&raquo;</a></li>#}
                    {#</ul>#}
                {#</nav>#}

            </div>

            <!-- Sidebar -->
            <aside class="sidebar">
                <div class="widget">
                    <h5>Job Search</h5>
                    <form role="form" action="" method="get">
                        <div class="form-row search">
                            <input type="search" name="q" required placeholder="Search Jobs..." value="{{ input_get('q') }}">
                            <button class="close-icon" type="reset"></button>
                            <button class="btn btn-default">Go</button>
                        </div>
                    </form>
                </div>
                <div class="widget">
                    <h5>Filter Jobs</h5>
                    <form role="form">
                        <div class="form-row">
                            <select>
                                <option selected>Salary</option>
                                {% for salaryBand in salaryBands %}
                                    <option value="{{ salaryBand.id }}">{{ salaryBand.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {#<div class="form-row">#}
                            {#<select>#}
                                {#<option selected>Sector</option>#}
                                {#{% for sector in sectors %}#}
                                    {#<option value="{{ sector.id }}">{{ sector.title }}</option>#}
                                {#{% endfor %}#}
                            {#</select>#}
                        {#</div>#}

                        {#
                        <div class="form-row">
                            <select>
                                <option selected>Location</option>
                                {% for location in locations %}
                                    <option value="{{ sector.id }}">{{ sector.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        #}

                    </form>
                </div>

                {% if not session_has('candidate_id') %}
                <div class="widget theme">
                    <h5>Begin today&hellip;</h5>
                    <a href="#" title="Login/Signup" class="btn btn-glass btn-block btn-lg open-modal" data-target="#modaldemo">Login/Signup</a>
                </div>
                {% endif %}
            </aside>

        </div>
    </div>
{% endblock %}
