{% extends "layout.twig" %}
{% block hero %} {% endblock %}
{% block content %}
<div id="job" class="content">
	<div class="esc">

		<h1>{{ job.title }}</h1>

		<div class="main">
            {% if session_has('message') %}
                <div class="alert alert-success">
                    <p>{{ session_get('message') }}</p>
                </div>
						{% elseif session_has('warning') %}
						<div class="alert alert-warning">
								<p>{{ session_get('warning') }}</p>
						</div>
            {% endif %}

			<div class="job">
				<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ job.location }}</span>
				<span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> Posted <b>{{ job.date_posted|date("d/m/Y") }}</b></span>
				<span class="salary">{{ job.jobType.data.title }} {{ job.salary_text }}</span>
				<hr>
				<h5>Job Description</h5>
				{{ job.description|raw }}

                {#<h5>Job Requirements</h5>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul>
				<h5>Benefits</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente expedita rerum ipsum, tempora placeat molestias laborum deleniti amet ratione, facere tempore ipsa quidem assumenda nam corporis velit iste deserunt culpa.</p>#}
				<hr>

                {% if session_has('candidate_id') %}
				<a href="/job/{{ job.id }}/apply" class="btn btn-success btn-lg btn-block">Apply For This Job</a>
			    {% else %}
                <a href="/signup?job_id={{ job.id }}" class="btn btn-success btn-lg btn-block">Register &amp; Apply For This Job</a>
                {% endif %}

            </div>

		</div>

		<!-- Sidebar -->
		<aside class="sidebar">

            {% if not session_has('candidate_id') %}
			<div class="widget theme">
				<h5>Begin today&hellip;</h5>
				<a href="#" title="Login/Signup" class="btn btn-glass btn-lg btn-block open-modal" data-target="#modaldemo">Login/Signup</a>
			</div>
            {% endif %}
		</aside>

	</div>
</div>

    {#
<div id="recent" class="no-top-padding">
	<div class="esc">
		<h5>Similar Jobs</h5>
		<div class="recent-jobs">
			<div class="job">
				<a href="job.html">
					<h4>Opportunity Title</h4>
					<span class="salary">&pound;10,000 - &pound;10,000</span>
					<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Manchester</span>
				</a>
			</div>
			<div class="job">
				<a href="job.html">
					<h4>Opportunity Title</h4>
					<span class="salary">&pound;10,000 - &pound;10,000</span>
					<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Manchester</span>
				</a>
			</div>
			<div class="job">
				<a href="job.html">
					<h4>Opportunity Title</h4>
					<span class="salary">&pound;10,000 - &pound;10,000</span>
					<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Manchester</span>
				</a>
			</div>
			<div class="job">
				<a href="job.html">
					<h4>Opportunity Title</h4>
					<span class="salary">&pound;10,000 - &pound;10,000</span>
					<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Manchester</span>
				</a>
			</div>
		</div>
	</div>
</div>


<div id="referral">
	<div class="esc">
		<h5>Earn a referral reward</h5>
		<p>Enter the details of the person being referred below&hellip;</p>
		<hr>
		<form role="form">
			<div class="form-row">
				<label for="ipt1">First Name</label>
				<input type="text" id="ipt1" required placeholder="Enter first name">
			</div>
			<div class="form-row">
				<label for="ipt1">Last Name </label>
				<input type="text" id="ipt2" required placeholder="Enter last name">
			</div>

			<div class="form-row">
				<label for="ipt1">Email</label>
				<input type="text" id="ipt3" required placeholder="Enter email">
			</div>

			<div class="form-row">
				<label for="ipt1">Mobile Number</label>
				<input type="tel" id="ipt4" placeholder="Enter mobile">
			</div>

			<div class="form-row">
				<button class="btn btn-primary btn-md">Refer Now</button>
			</div>
		</form>
	</div>
</div>#}
{% endblock %}
