
<div class="content">
    <div class="esc">
        <h1>Register With Us</h1>

        <div class="form-wrap form-progress">
            <div class="progress">
                <div class="stage {% if session_get('register_step') == '0'  %}in-progress{% elseif session_get('register_step') > 0 %}complete{% endif %}">
                    <span><a href="/signup">Your CV</a> {% if session_get('register_step') > 1 %}<i class="fa fa-check"></i>{% endif %}</span>
                </div>
                <div class="stage {% if session_get('register_step') == '1'  %}in-progress{% elseif session_get('register_step') > 1 %}complete{% endif %}">
                    <span><a href="/signup/details">Your Details</a> {% if session_get('register_step') > 1 %}<i class="fa fa-check"></i>{% endif %}</span>
                </div>
                <div class="stage {% if session_get('register_step') == '2'  %}in-progress{% elseif session_get('register_step') > 2 %}complete{% endif %}">
                    <span><a href="/signup/contact">Contact Information</a> {% if session_get('register_step') > 2 %}<i class="fa fa-check"></i>{% endif %}</span>
                </div>
                <div class="stage {% if session_get('register_step') == '3'  %}in-progress{% elseif session_get('register_step') > 3 %}complete{% endif %}">
                    <span><a href="/signup/roles">Experience</a> {% if session_get('register_step') > 3 %}<i class="fa fa-check"></i>{% endif %}</span>
                </div>
                <div class="stage {% if session_get('register_step') == '4' %}in-progress{% elseif session_get('register_step') > 4 %}complete{% endif %}">
                    <span><a href="/signup/questions">General Questions</a> {% if session_get('register_step') > 4 %}<i class="fa fa-check"></i>{% endif %}</span>
                </div>
                {#<div class="stage  {% if session_has('register_education') %}complete{% else %}in-progress{% endif %}">#}
                    {#<span><a href="/signup/education">Education</a></span>#}
                {#</div>#}
                <div class="stage">
                    <span><a href="#">Complete</a></span>
                </div>
            </div>

            <form role="form" method="post">

                <input type="hidden" name="_token" value="{{ csrf_token() }}">

                {% if errors|length > 0 %}
                <div class="alert alert-danger">
                    <p><b>Form issues</b> We've noticed a few issues with the data you've given us.</p>
                    <p>
                        {% for error in errors.all() %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    </p>
                </div>
                {% endif %}